@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.mainContainer {
  background-color: #fdf9f5;
}

.appHeader {
  background-color: #fdf9f5;
  padding: 16px 40px;
  font-size: 24px;
  font-weight: 600;
  border-bottom: 1px solid #e4e3e3;
}
